@import "./selector.css";

$component-selector {
  --md-comp-switch-track-bg-unselected: var(--md-sys-color-surface-variant);
  --md-comp-switch-track-bg-opacity-unselected: 1;
  --md-comp-switch-track-border-unselected: var(--md-sys-color-outline);
  --md-comp-switch-track-border-opacity-unselected: 1;

  > .switch-track {
    @apply absolute top-0 left-0 h-full w-full bg-[rgba(var(--md-comp-switch-track-bg-unselected),var(--md-comp-switch-track-bg-opacity-unselected))] border-2 border-[rgba(var(--md-comp-switch-track-border-unselected),var(--md-comp-switch-track-border-opacity-unselected))] rounded-[1rem] transition-all;
  }
}
