@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --md-comp-card-radius: 0.75rem;
  --md-comp-card-spacing-between: 0.5rem;
  --md-comp-card-buttons-spacing-between: 0.5rem;
  --md-comp-card-content-padding: 1rem;
}

@layer components {
  .card {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    @apply relative inline-block before:absolute before:top-0 before:left-0 before:right-0 before:bottom-0;

    &,
    &::before {
      border-radius: var(--md-comp-card-radius);
    }
  }
  .card[tabindex] {
    @apply cursor-pointer;
  }
  .card:disabled,
  .card.card-disabled {
    @apply pointer-events-none;
  }
  .card > * {
    /* Relative position or content will render below the ::before pseudo-element */
    @apply relative;
  }
  .card img {
    border-radius: var(--md-comp-card-radius);
  }
  .card > .card-content {
    padding-left: var(--md-comp-card-content-padding);
    padding-right: var(--md-comp-card-content-padding);
  }
  .card > .card-content:first-child,
  .card > img:first-child ~ .card-content:nth-of-type(1) {
    padding-top: var(--md-comp-card-content-padding);
  }
  .card > .card-content:last-child {
    padding-bottom: var(--md-comp-card-content-padding);
  }

  .card.card-elevated {
    @apply bg-surface text-on-surface shadow-level1;
  }
  .card[tabindex]:not(.card-child-hover):not(.card-drag).card-elevated:hover {
    @apply shadow-level2 before:bg-on-surface/hover;
  }
  .card[tabindex].card-elevated:focus-visible {
    @apply shadow-level1 before:bg-on-surface/focus outline-none;
  }
  .card[tabindex]:not(.card-child-hover):not(.card-drag).card-elevated:active {
    @apply shadow-level1 before:bg-on-surface/pressed;
  }
  .card.card-elevated.card-drag {
    @apply shadow-level3 before:bg-on-surface/dragged;
  }
  .card.card-elevated:disabled,
  .card.card-elevated.card-disabled {
    @apply shadow-level1 opacity-disabled-container before:hidden;
  }

  .card.card-filled {
    @apply bg-surface-variant text-on-surface-variant shadow-level0;
  }
  .card[tabindex]:not(.card-child-hover):not(.card-drag).card-filled:hover {
    @apply shadow-level1 before:bg-on-surface/hover;
  }
  .card[tabindex].card-filled:focus-visible {
    @apply shadow-level0 before:bg-on-surface/focus outline-none;
  }
  .card[tabindex]:not(.card-child-hover):not(.card-drag).card-filled:active {
    @apply shadow-level0 before:bg-on-surface/pressed;
  }
  .card.card-filled.card-drag {
    @apply shadow-level3 before:bg-on-surface/dragged;
  }
  .card.card-filled:disabled,
  .card.card-filled.card-disabled {
    @apply shadow-level0 opacity-disabled-container before:hidden;
  }

  .card.card-outlined {
    @apply bg-surface text-on-surface shadow-level0 outline outline-1;
  }
  .card[tabindex]:not(.card-child-hover):not(.card-drag).card-outlined:hover {
    @apply shadow-level1 before:bg-on-surface/hover;
  }
  .card[tabindex].card-outlined:focus-visible {
    @apply shadow-level0 before:bg-on-surface/focus;
  }
  .card[tabindex]:not(.card-child-hover):not(.card-drag).card-outlined:active {
    @apply shadow-level0 before:bg-on-surface/pressed;
  }
  .card.card-outlined.card-drag {
    @apply shadow-level3 before:bg-on-surface/dragged;
  }
  .card.card-outlined:disabled,
  .card.card-outlined.card-disabled {
    @apply shadow-level0 opacity-disabled-container before:hidden;
  }
}
