@import "./selector.css";

/* Don't show active effect on mobile browsers */
@media (hover: hover) {
  $component-selector {
    --md-comp-switch-thumb-bg-unselected: var(
      --md-sys-color-on-surface-variant
    );
    --md-comp-switch-thumb-fg-unselected: var(--md-sys-color-surface-variant);
    --md-comp-switch-thumb-halo-color-unselected: var(
      --md-sys-color-on-surface
    );
    --md-comp-switch-thumb-halo-opacity: var(
      --md-sys-state-pressed-state-layer-opacity
    );
  }
}
