@import "./selector.css";

$component-selector {
  --md-comp-switch-thumb-bg-selected: var(--md-sys-color-on-primary);
  --md-comp-switch-thumb-bg-opacity-selected: 1;
  --md-comp-switch-thumb-fg-selected: var(--md-sys-color-on-primary-container);
  --md-comp-switch-thumb-fg-opacity-selected: 1;

  /*
  Halo size should always be 40dp.
  Unit is `rem`
  */
  $halo_size: 40/16;
  $h-6: 1.5;
  /* `calc()` call is formatted to be removed by postcss-calc */
  --md-comp-switch-thumb-halo-size: calc(($(halo_size) - $(h-6)) * 0.5rem);
  --md-comp-switch-thumb-halo-color-selected: var(--md-sys-color-on-primary);

  > .switch-thumb {
    @apply h-6 w-6 bg-[rgba(var(--md-comp-switch-thumb-bg-selected),var(--md-comp-switch-thumb-bg-opacity-selected))] shadow-[0px_0px_0px_var(--md-comp-switch-thumb-halo-size)_rgba(var(--md-comp-switch-thumb-halo-color-selected),var(--md-comp-switch-thumb-halo-opacity))];

    /* Intended for feather icons specifically! */
    > svg {
      @apply stroke-[rgba(var(--md-comp-switch-thumb-fg-selected),var(--md-comp-switch-thumb-fg-opacity-selected))];
    }
  }
}
