@import "./selector.css";

$component-selector {
  --md-comp-switch-track-bg-unselected: var(--md-sys-color-surface-variant);
  --md-comp-switch-track-bg-opacity-unselected: 0.12;
  --md-comp-switch-track-border-unselected: var(--md-sys-color-on-surface);
  --md-comp-switch-track-border-opacity-unselected: 0.12;

  --md-comp-switch-track-bg-selected: var(--md-sys-color-on-surface);
  --md-comp-switch-track-bg-opacity-selected: 0.12;
  --md-comp-switch-track-border-selected: var(--md-sys-color-on-surface);
  --md-comp-switch-track-border-opacity-selected: 0;
}
