@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --md-sys-shape-corner-none: 0rem;
  --md-sys-shape-corner-extra-small: 0.25rem;
  --md-sys-shape-corner-small: 0.5rem;
  --md-sys-shape-corner-medium: 0.75rem;
  --md-sys-shape-corner-large: 1rem;
  --md-sys-shape-corner-extra-large: 1.75rem;
  --md-sys-shape-corner-full: 100%;

  --md-ref-typeface-brand: "Norican", ui-serif, Georgia, Cambria,
    "Times New Roman", Times, serif;
  --md-ref-typeface-plain: "Roboto Flex", "Roboto", ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --md-sys-typescale-display-small-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-small-weight: Regular;
  --md-sys-typescale-display-small-size: 2.25rem;
  --md-sys-typescale-display-small-line-height: 2.75rem;
  --md-sys-typescale-display-small-tracking: 0rem;
  --md-sys-typescale-display-medium-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-medium-weight: Regular;
  --md-sys-typescale-display-medium-size: 2.8125rem;
  --md-sys-typescale-display-medium-line-height: 3.25rem;
  --md-sys-typescale-display-medium-tracking: 0rem;
  --md-sys-typescale-display-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-large-weight: Regular;
  --md-sys-typescale-display-large-size: 3.5625rem;
  --md-sys-typescale-display-large-line-height: 4rem;
  --md-sys-typescale-display-large-tracking: -0.25px;
  --md-sys-typescale-headline-small-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-small-weight: Regular;
  --md-sys-typescale-headline-small-size: 1.5rem;
  --md-sys-typescale-headline-small-line-height: 2rem;
  --md-sys-typescale-headline-small-tracking: 0rem;
  --md-sys-typescale-headline-medium-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-medium-weight: Regular;
  --md-sys-typescale-headline-medium-size: 1.75rem;
  --md-sys-typescale-headline-medium-line-height: 2.25rem;
  --md-sys-typescale-headline-medium-tracking: 0rem;
  --md-sys-typescale-headline-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-large-weight: Regular;
  --md-sys-typescale-headline-large-size: 2rem;
  --md-sys-typescale-headline-large-line-height: 2.5rem;
  --md-sys-typescale-headline-large-tracking: 0rem;
  --md-sys-typescale-label-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-small-weight: Medium;
  --md-sys-typescale-label-small-size: 0.6875rem;
  --md-sys-typescale-label-small-line-height: 1rem;
  --md-sys-typescale-label-small-tracking: 0.03125rem;
  --md-sys-typescale-label-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-medium-weight: Medium;
  --md-sys-typescale-label-medium-size: 0.75rem;
  --md-sys-typescale-label-medium-line-height: 1rem;
  --md-sys-typescale-label-medium-tracking: 0.03125rem;
  --md-sys-typescale-label-large-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-large-weight: Medium;
  --md-sys-typescale-label-large-size: 0.875rem;
  --md-sys-typescale-label-large-line-height: 1.25rem;
  --md-sys-typescale-label-large-tracking: 0.0062500000931322575rem;
  --md-sys-typescale-title-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-title-small-weight: Medium;
  --md-sys-typescale-title-small-size: 0.875rem;
  --md-sys-typescale-title-small-line-height: 1.25rem;
  --md-sys-typescale-title-small-tracking: 0.0062500000931322575rem;
  --md-sys-typescale-title-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-title-medium-weight: Medium;
  --md-sys-typescale-title-medium-size: 1rem;
  --md-sys-typescale-title-medium-line-height: 1.5rem;
  --md-sys-typescale-title-medium-tracking: 0.00937500037252903rem;
  --md-sys-typescale-title-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-title-large-weight: Regular;
  --md-sys-typescale-title-large-size: 1.375rem;
  --md-sys-typescale-title-large-line-height: 1.75rem;
  --md-sys-typescale-title-large-tracking: 0rem;
  --md-sys-typescale-body-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-small-weight: Regular;
  --md-sys-typescale-body-small-size: 0.75rem;
  --md-sys-typescale-body-small-line-height: 1rem;
  --md-sys-typescale-body-small-tracking: 0.02500000037252903rem;
  --md-sys-typescale-body-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-medium-weight: Regular;
  --md-sys-typescale-body-medium-size: 0.875rem;
  --md-sys-typescale-body-medium-line-height: 1.25rem;
  --md-sys-typescale-body-medium-tracking: 0.015625rem;
  --md-sys-typescale-body-large-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-large-weight: Regular;
  --md-sys-typescale-body-large-size: 1rem;
  --md-sys-typescale-body-large-line-height: 1.5rem;
  --md-sys-typescale-body-large-tracking: 0.03125rem;

  /* Color values must be RGB triplets! */

  --md-sys-color-primary-light: 0, 104, 119;
  --md-sys-color-primary-dark: 82, 215, 240;

  --md-sys-color-on-primary-light: 255, 255, 255;
  --md-sys-color-on-primary-dark: 0, 54, 63;
  --md-sys-color-primary-container-light: 164, 238, 255;
  --md-sys-color-primary-container-dark: 0, 78, 90;
  --md-sys-color-on-primary-container-light: 0, 31, 37;
  --md-sys-color-on-primary-container-dark: 164, 238, 255;

  --md-sys-color-secondary-light: 75, 98, 104;
  --md-sys-color-secondary-dark: 178, 203, 209;
  --md-sys-color-on-secondary-light: 255, 255, 255;
  --md-sys-color-on-secondary-dark: 28, 52, 57;
  --md-sys-color-secondary-container-light: 205, 231, 238;
  --md-sys-color-secondary-container-dark: 51, 74, 80;
  --md-sys-color-on-secondary-container-light: 5, 31, 36;
  --md-sys-color-on-secondary-container-dark: 205, 231, 238;

  --md-sys-color-tertiary-light: 0, 107, 88;
  --md-sys-color-tertiary-dark: 88, 220, 188;
  --md-sys-color-on-tertiary-light: 255, 255, 255;
  --md-sys-color-on-tertiary-dark: 0, 56, 45;
  --md-sys-color-tertiary-container-light: 119, 248, 215;
  --md-sys-color-tertiary-container-dark: 0, 81, 66;
  --md-sys-color-on-tertiary-container-light: 0, 32, 25;
  --md-sys-color-on-tertiary-container-dark: 119, 248, 215;

  --md-sys-color-error-light: 186, 26, 26;
  --md-sys-color-error-dark: 255, 180, 171;
  --md-sys-color-on-error-light: 255, 255, 255;
  --md-sys-color-on-error-dark: 105, 0, 5;
  --md-sys-color-error-container-light: 255, 218, 214;
  --md-sys-color-error-container-dark: 147, 0, 10;
  --md-sys-color-on-error-container-light: 65, 0, 2;
  --md-sys-color-on-error-container-dark: 255, 218, 214;

  --md-sys-color-outline-light: 111, 121, 123;
  --md-sys-color-outline-dark: 137, 146, 149;

  --md-sys-color-background-light: 251, 252, 253;
  --md-sys-color-background-dark: 25, 28, 29;
  --md-sys-color-on-background-light: 25, 28, 29;
  --md-sys-color-on-background-dark: 225, 227, 228;

  --md-sys-color-surface-light: 251, 252, 253;
  --md-sys-color-surface-dark: 25, 28, 29;
  --md-sys-color-on-surface-light: 25, 28, 29;
  --md-sys-color-on-surface-dark: 225, 227, 228;

  --md-sys-color-surface-variant-light: 219, 228, 231;
  --md-sys-color-surface-variant-dark: 63, 72, 75;
  --md-sys-color-on-surface-variant-light: 63, 72, 75;
  --md-sys-color-on-surface-variant-dark: 191, 200, 203;

  --md-sys-color-inverse-surface-light: 46, 49, 50;
  --md-sys-color-inverse-surface-dark: 225, 227, 228;
  --md-sys-color-inverse-on-surface-light: 239, 241, 242;
  --md-sys-color-inverse-on-surface-dark: 25, 28, 29;

  @each $token in primary, on-primary, primary-container, on-primary-container,
    secondary, on-secondary, secondary-container, on-secondary-container,
    tertiary, on-tertiary, tertiary-container, on-tertiary-container, error,
    on-error, error-container, on-error-container, outline, background,
    on-background, surface, on-surface, surface-variant, on-surface-variant,
    inverse-surface, inverse-on-surface
  {
    --md-sys-color-$(token): var(--md-sys-color-$(token)-light);
    &.dark,
    .dark {
      --md-sys-color-$(token): var(--md-sys-color-$(token)-dark);
    }
  }
}

@layer base {
  body {
    @apply bg-background text-on-background;
  }

  hr {
    @apply text-outline;
  }

  .typography-display-small {
    font-family: var(--md-sys-typescale-display-small-font);
    font-weight: var(--md-sys-typescale-display-small-weight);
    font-size: var(--md-sys-typescale-display-small-size);
    line-height: var(--md-sys-typescale-display-small-line-height);
    letter-spacing: var(--md-sys-typescale-display-small-tracking);
  }
  .typography-display-medium {
    font-family: var(--md-sys-typescale-display-medium-font);
    font-weight: var(--md-sys-typescale-display-medium-weight);
    font-size: var(--md-sys-typescale-display-medium-size);
    line-height: var(--md-sys-typescale-display-medium-line-height);
    letter-spacing: var(--md-sys-typescale-display-medium-tracking);
  }
  .typography-display-large {
    font-family: var(--md-sys-typescale-display-large-font);
    font-weight: var(--md-sys-typescale-display-large-weight);
    font-size: var(--md-sys-typescale-display-large-size);
    line-height: var(--md-sys-typescale-display-large-line-height);
    letter-spacing: var(--md-sys-typescale-display-large-tracking);
  }
  .typography-headline-small {
    font-family: var(--md-sys-typescale-headline-small-font);
    font-weight: var(--md-sys-typescale-headline-small-weight);
    font-size: var(--md-sys-typescale-headline-small-size);
    line-height: var(--md-sys-typescale-headline-small-line-height);
    letter-spacing: var(--md-sys-typescale-headline-small-tracking);
  }
  .typography-headline-medium {
    font-family: var(--md-sys-typescale-headline-medium-font);
    font-weight: var(--md-sys-typescale-headline-medium-weight);
    font-size: var(--md-sys-typescale-headline-medium-size);
    line-height: var(--md-sys-typescale-headline-medium-line-height);
    letter-spacing: var(--md-sys-typescale-headline-medium-tracking);
  }
  .typography-headline-large {
    font-family: var(--md-sys-typescale-headline-large-font);
    font-weight: var(--md-sys-typescale-headline-large-weight);
    font-size: var(--md-sys-typescale-headline-large-size);
    line-height: var(--md-sys-typescale-headline-large-line-height);
    letter-spacing: var(--md-sys-typescale-headline-large-tracking);
  }
  .typography-label-medium {
    font-family: var(--md-sys-typescale-label-medium-font);
    font-weight: var(--md-sys-typescale-label-medium-weight);
    font-size: var(--md-sys-typescale-label-medium-size);
    line-height: var(--md-sys-typescale-label-medium-line-height);
    letter-spacing: var(--md-sys-typescale-label-medium-tracking);
  }
  .typography-label-large {
    font-family: var(--md-sys-typescale-label-large-font);
    font-weight: var(--md-sys-typescale-label-large-weight);
    font-size: var(--md-sys-typescale-label-large-size);
    line-height: var(--md-sys-typescale-label-large-line-height);
    letter-spacing: var(--md-sys-typescale-label-large-tracking);
  }
  .typography-title-small {
    font-family: var(--md-sys-typescale-title-small-font);
    font-weight: var(--md-sys-typescale-title-small-weight);
    font-size: var(--md-sys-typescale-title-small-size);
    line-height: var(--md-sys-typescale-title-small-line-height);
    letter-spacing: var(--md-sys-typescale-title-small-tracking);
  }
  .typography-title-medium {
    font-family: var(--md-sys-typescale-title-medium-font);
    font-weight: var(--md-sys-typescale-title-medium-weight);
    font-size: var(--md-sys-typescale-title-medium-size);
    line-height: var(--md-sys-typescale-title-medium-line-height);
    letter-spacing: var(--md-sys-typescale-title-medium-tracking);
  }
  .typography-title-large {
    font-family: var(--md-sys-typescale-title-large-font);
    font-weight: var(--md-sys-typescale-title-large-weight);
    font-size: var(--md-sys-typescale-title-large-size);
    line-height: var(--md-sys-typescale-title-large-line-height);
    letter-spacing: var(--md-sys-typescale-title-large-tracking);
  }
  .typography-body-small {
    font-family: var(--md-sys-typescale-body-small-font);
    font-weight: var(--md-sys-typescale-body-small-weight);
    font-size: var(--md-sys-typescale-body-small-size);
    line-height: var(--md-sys-typescale-body-small-line-height);
    letter-spacing: var(--md-sys-typescale-body-small-tracking);
  }
  .typography-body-medium {
    font-family: var(--md-sys-typescale-body-medium-font);
    font-weight: var(--md-sys-typescale-body-medium-weight);
    font-size: var(--md-sys-typescale-body-medium-size);
    line-height: var(--md-sys-typescale-body-medium-line-height);
    letter-spacing: var(--md-sys-typescale-body-medium-tracking);
  }
  .typography-body-large {
    font-family: var(--md-sys-typescale-body-large-font);
    font-weight: var(--md-sys-typescale-body-large-weight);
    font-size: var(--md-sys-typescale-body-large-size);
    line-height: var(--md-sys-typescale-body-large-line-height);
    letter-spacing: var(--md-sys-typescale-body-large-tracking);
  }
}
